.background-img {
  background-image: url('/');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.overlay-card {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-button {
  margin-top: 20px;
}
